.App {
  /* text-align: center; */
  height: 100%;
}
#root{
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-btn{
  color: #0065b8;
    background: #e5e5e5;
    font-size: .88235294em;
    font-weight: bold;
    display: block;
    margin: 0;
    border-radius: .26666667em;
    border: 0;
    text-align: left;
    width: 100%;
    padding: .4em;
  /* background: #0065b8; */
  
  background: #e5e5e5;
    text-align: center;
    font-size: .76em;
    padding: .5em .5em;
    color: #fff;
    background-color: rgba(97,97,97,0.54);
}

.tab-btn i{
  font-size:20px
}

.tab-btn.on{
  background-color: #0065b8;
}

.tab-btn:hover{
  background-color: #0065b8;
}

#holder {
  height: 50px;
}
#label {
  margin-bottom: -50px;
  padding-left: 5px;
  padding-top: 2px;
  position: absolute;
  color: gray;
}
#input {
  height: 100%;
}
.form-control{
  /* padding-top: .6rem; */
  /* padding-bottom: 0px; */
}

button:focus {outline:0;}

.flights{
  position: fixed;
  width:100%;
  left:0;
  bottom:0;
  height: 80%;
  background-color: #d4d4d4;
  box-shadow: 0px 5px 10px black;
  /* overflow-y: scroll; */
}
.list-group{
  background-color: #d4d4d4;
}

.list-group-item {
  margin: 5px 0px;
  border-radius: 0px;
}
::-webkit-scrollbar {
  display: none;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
select{padding: 0px;}