<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SummerPlan</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-4.3.1-dist/css/bootstrap.css">
</head>
<body>

{#<p>{{ name }}</p>#}
<h1>{{ hello }}</h1>

{#<p>{{ views_list }}</p> {#取出整个列表#}
{#<p>{{ views_list.0 }}</p> {#取出列表的第一个元素#}


{#<p>{{ views_dict }}</p>#}
{#<p>{{ views_dict.name }}</p>#}

{#{{ name|default:"swag" }}#}

{#{{ time|date:"m-d-Y" }}#}

{#{% load static %}#}
{#{{name}}<img src="{% static "images/illinois.jpg" %}" alt="illinois-logo">#}

</body>
</html>


